{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Article{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Article {{ idarticle }}✅</h1>
    {% include 'public/menu.html.twig' %}
    <h2>Notre article a l'id {{ idarticle }}</h2>

</div>
{% endblock %}
