{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Homepage{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>HomePage ✅</h1>
{% include 'public/menu.html.twig' %}

</div>
{% endblock %}
